@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-style: 400 18px 'Roboto', sans-serif;
	color: #fff;
	background: #111113;
}

a {
	color: inherit;
	text-decoration: none;
	transition: 0.4s;
}

h1,
h2,
h3,
h4 {
	margin: 0;
}

main {
	margin: 0 auto;
	padding: 0 5px;
	width: 1088px;
	min-height: calc(100vh - 70px);
}

.cardList-pagination {
	display: flex;
	justify-content: center;
}
