.card-container {
	height: 314px;
	width: 168px;
	background-color: black;
	border-radius: 8px;
}

.card-img {
	border-radius: 8px;
	position: relative;
	object-fit: cover;
	height: 250px;
	width: 170px;
}

.imgTotal-card {
	border-radius: 8px;
}

.card-title {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
