footer {
	margin-top: 20px;
	background: rgba(46, 46, 46, 0.96);
	display: flex;
	justify-content: space-between;
	padding: 15px 36px;
	align-items: center;
	height: 70px;
	color: #acaaa5;
}

.footer-logo {
	color: #8b57c6;
	font-weight: 700;
	font-size: 20px;
}
.footer-logo span {
	color: white;
}

.footer-nav {
	display: flex;
}

.footer-nav li {
	margin-right: 5px;
}
.footer-nav li:last-child {
	margin-right: 0px;
}

.footer-nav li a:hover {
	color: #8b57c6;
}
