.mainList-list {
	display: flex;
	justify-content: center;
	margin-bottom: 15px;
}

.mainList-list li {
	margin-right: 20px;
	transition: transform 0.3s ease;
}

.mainList-list li:last-child {
	margin-right: 0px;
}

.mainList-list li:hover {
	transform: translateY(-10px);
}
