.register-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.login-error {
	border-radius: 10px;
	display: inline;
	font-weight: 700;
	padding: 5px;
	background-color: rgb(73, 26, 26);
}

.register-inp {
	font-style: 400 18px 'Roboto', sans-serif;
	color: black;
	border-radius: 10px;
	outline: none;
	cursor: pointer;
	padding: 5px;
	display: block;
	font-size: 20px;
	margin-bottom: 7px;
}
.register-btn {
	padding: 7px 25px;
	border-radius: 10px;
	border: 1px #8b57c6 solid;
	font-size: 20px;
	margin: 15px auto;
	display: block;
}
.register-btn:hover {
	background-color: #8b57c6;
}

.register-title {
	color: #8b57c6;
	text-align: center;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 10px;
}

.register-link {
	font-size: 20px;
	text-decoration-line: underline;
	display: flex;
	justify-content: center;
}
.register-link:hover {
	color: #8b57c6;
}

form {
	border-radius: 10px;
	background: rgba(46, 46, 46, 0.96);
	padding: 20px;
}
